<h1>Checkpoint</h1>

<ul>

  <li><%= link_to "Policies", policies_path %>
<ul>

  <li>
    Agents
    <ul>
    <li><%= link_to 'emails', policies_path %></li>
      <li><%= link_to 'institutions', policies_path %></li>
    </ul>
  </li>
  <li>Credentials
    <ul>
      <li>permissions
        <ul>
          <li><%= link_to 'read', policies_path %></li>
        </ul>
      </li>
    </ul>
  </li>
  <li>Resources
    <ul>
      <li><%= link_to 'noids', policies_path %></li>
      <li><%= link_to 'products', policies_path %></li>
    </ul>
  </li>
</ul>
</li>
</ul>
