<% component = Component.find_by(noid: @identifier) %>
<h1>Component</h1>
<div class="col-md-12">
  <table class="table table-striped" summary="Component Detail">
    <tr>
      <th>Key</th>
      <th>Value</th>
    </tr>
    <tr>
      <td>id</td>
      <td><%= component.id %></td>
    </tr>
    <tr>
      <td>identifier</td>
      <td><%= component.identifier %></td>
    </tr>
    <tr>
      <td>name</td>
      <td><%= component.name %></td>
    </tr>
    <tr>
      <td>noid</td>
      <td><%= component.noid %></td>
    </tr>
    <tr>
      <td>handle</td>
      <td><%= component.handle %></td>
    </tr>
  </table>
</div>
<h2>Products</h2>
<div class="col-md-12">
  <div class="col-md-12"><hr/></div>

  <form name="picker" method="get" action="<%= fulcrum_partial_path(:components, Base64.urlsafe_encode64(component.noid)) %>">

    <% product_picker = ProductPicker.new(component) %>
    <div class="col-md-10">
      <div class="col-md-1">
        &nbsp;
      </div>
      <div class="col-md-11">
        <input type="text" size="40" id="product_filter" name="product_filter" value=<%= params['product_filter'] %>>

        <button>filter</button>
      </div>

    </div>
    <div class="col-md-2">&nbsp;</div>




  <div class="col-md-10">
    <% if params[:product_id].present? %>
      <% product = Product.find(params[:product_id])  %>
    <div class="col-md-1"><%= link_to product.id, product %></div>
      <div class="col-md-6">
      <%= select_tag "product_id", options_for_select(product_picker.products(params['product_filter']), params[:product_id] || ''), include_blank: '', onchange: "this.form.submit();" %>
      </div>
    <div class="col-md-3"><%= link_to product.purchase, product.purchase %></div>
    <div class="col-md-2"><%= product.components.count %></div>
      <% else %>
      <div class="col-md-1">&nbsp;</div>
      <div class="col-md-11">
      <%= select_tag "product_id", options_for_select(product_picker.products(params['product_filter']), params[:product_id] || ''), include_blank: '', onchange: "this.form.submit();" %>
      </div>
    <% end %>
  </div>
  </form>

<div class="col-md-2">

  <%= form_tag(component_products_path(component), method: "post") do %>
    <%= hidden_field_tag 'id', params[:product_id]  %>
    <%= button_tag(type: 'submit', disabled: params[:product_id].blank?,  class: 'btn btn-default') do %>
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
    <% end %>
  <% end %>
</div>

  <div class="col-md-12"><hr/></div>
  <b>
    <div class="col-md-10">
      <div class="col-md-1">ID</div>
      <div class="col-md-3">Identifier</div>
      <div class="col-md-3">Name</div>
      <div class="col-md-3">Purchase</div>
      <div class="col-md-2">Components</div>
    </div>
    <div class="col-md-2"></div>

  </b>
  <div class="col-md-12">
  <hr/></div>

<% component.products.each do |product| %>
  <div class="col-md-10">
    <div class="col-md-1"><%= link_to product.id, product %></div>
    <div class="col-md-3"><%= product.identifier %></div>
    <div class="col-md-3"><%= product.name %></div>
    <div class="col-md-3"><%= link_to product.purchase, product.purchase %></div>
    <div class="col-md-2"><%= product.components.count %></div>
  </div>
  <div class="col-md-2">
    <%= link_to(component_product_path(component, product), method: :delete, class: "btn btn-default") do %>
      <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Remove
    <% end %>
  </div>
<% end %>
</div>
